/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 40px auto;
}

#ammo-table {
    border-collapse: collapse;
    width: 100%;
}

#ammo-table th, #ammo-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#ammo-table th {
    background-color: #f0f0f0;
}
